html
    head
        title Mongo User Manager
    body
        h1 Big User List
        table 
            tr
                th First Name
                th Last Name
                th Email
                th Age
            each user in users
                tr
                    td= user.firstName
                    td= user.lastName
                    td= user.email
                    td= user.age
                    td
                        a(href=`/users/${user.userId}`) Edit
                    td 
                        a(href=`/delete/${user.userId}`) Delete

        a(href='/ascend') Ascend
        a(href='/descend') Descend
        a(href='/search') Search
        a(href='/create') Add User